/* ---------------------------------- flex styles ---------------------------------- */
// Parameter: justify-content
%flex-around {
  @include flexJC(space-around);
}
%flex-center {
  @include flexJC(center);
}
%flex-start {
  @include flexJC(start);
}
%flex-between {
  @include flexJC(space-between);
}
/* ----------------------------- Buttons styles ----------------------------- */
// Parameters:  background-color, border, border-radius, color, margin, padding 
%btn-active {
  @include btnConfig(
    $color-primary,
    medium none color,
    15px,
    #fff,
    0.3rem,
    0.5rem 3rem
  );
}
%btn-waiting {
  @include btnConfig(
    transparent,
    2px solid $text-secondary,
    15px,
    #fff,
    0.3rem,
    0.5rem 3rem
  );
}
/* ---------------------------- Paragraphs styles --------------------------- */
// Parameters: color,font-size,font-weight,line-height
%paragraph-L {
  @include text($text-secondary, 1.125rem, 400, 1.688rem);
}
%paragraph-S {
  @include text($text-secondary, 1rem, 400, 1.4rem);
}
/* ----------------------------- Headings styles ---------------------------- */
// Parameters: color,font-size,font-weight,line-height
%h2-main {
  @include text($text-main, 2.5rem, 700, 2.93rem);
}
%h4-main {
  @include text($text-main, 1rem, 700, 1.172rem);
}
/* ------------------------------ Icons styles ------------------------------ */
%icons {
  font-size: 2.7rem;
  color: $color-primary;
}

/* ------------------------------ Images styles ----------------------------- */
%img-hover {
  cursor: pointer;
  transition: all 1s;
  transform: scale(1.02);
}
