header {
  @extend %flex-around;
  background-color: $bg-primary;
  height: 5rem;
  padding-left: 5rem;
  position: fixed;
  width: 100%;
  margin-top: -5rem;
  z-index: 10000;
  .logo {
    a {
      color: #fff;
      display: flex;
      align-items: center;
      img {
        width: 1.8rem;
        margin-right: 0.3rem;
      }
    }
  }
  nav,
  ul {
    color: $text-secondary;
    li {
      // margin: 0.7rem;
      padding: 0 1.5rem;
    }
  }
  ul {
    li {
      a.btn {
        @extend %btn-waiting;
        display: inline;
      }
    }
  }
}
