$bg-primary: #172755;
$bg-secondary:  #EEEEF7;
$color-primary: #EF2A82;
$color-secondary: #0088F0;
$text-secondary: #8794BA;
$text-main: #172755

/* Media queries */
// $mobile-breakpoint : "max-width: 600px";